@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: grey;
}

* {
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
}